@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  /* .brutal-btn {
    @apply border-2 border-zinc-900 shadow-[4px_4px_0px_0px_#000] hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px_#000] active:translate-x-[4px] active:translate-y-[4px] active:shadow-none transition-all;
  } */

  .brutal-card {
    @apply border-2 border-zinc-900 shadow-[6px_6px_0px_0px_#000];
  }

  .brutal-input {
    @apply border-2 border-zinc-900 focus:outline-none focus:shadow-[4px_4px_0px_0px_#000] transition-shadow;
  }
}